<!-- _articles.html.erb -->
<% @articles.each do | article | %>
<div class="panel">
	<div class="row">
		<div class="well col-md-1">
			<% if user_signed_in? == true %>
				<p><%= link_to "+", vote_up_path(id: article.id) %></p>
				<p><%= article.score %></p>
				<p><%= link_to "-", vote_down_path(id: article.id) %></p>
			<% else %>
				<%= article.score %>
			<%end%>
		</div>
		<div class="well col-md-9">
			<% if article.link[0..7] == "https://" %>
				<%= link_to article.title, "http://#{article.link[7..-1]}" %>
			<%elsif article.link[0..6] == "http://" %>
				<%= link_to article.title, "http://#{article.link[6..-1]}" %>
			<%else%>
				<%= link_to article.title, "http://#{article.link}" %>
			<%end%>
			</br>
			<small>submitted <%= time_ago_in_words(article.created_at) %> ago by <%=article.user.email%>
			</small>%= image_tag(current_user.avatar.url(:thumb)) %>
<!-- 			Submitted at <%= article.created_at.strftime("%b %d, %Y") %> -->
		</div>
		<div class="well">
			<% if user_signed_in? == true %>
			<
				<% if current_user.id != nil && article.user_id == current_user.id %>
						<%= link_to 'Edit', edit_article_path(article) %>
						<%= link_to "Delete", article, method: :delete, data: {confirm: 'You sure?'} %>
				<%end%>
			<%end%>
		</div>
	</div>
</div>
<%end%>




