<!-- _articles.html.erb -->

<% sorted_list = @articles.sort_by &:created_at %>
<% sorted_list.reverse.each do | article | %>

<div class="panel">
	<div class="row">
		<div class="well col-md-1">
			<div style="height:100px;">
			<% if user_signed_in? == true %>
				<p><%= link_to "+", vote_up_path(id: article.id) %></p>
				<p><%= article.score %></p>
				<p><%= link_to "-", vote_down_path(id: article.id) %></p>
			<% else %>
				<%= article.score %>
			<%end%>
			</div> <!-- end of style -->
		</div>
		<div class="well col-md-9">
			<div style="height:100px;">
			<% if article.link[0..7] == "https://" %>
				<%= link_to article.title, "http://#{article.link[7..-1]}" %>
			<%elsif article.link[0..6] == "http://" %>
				<%= link_to article.title, "http://#{article.link[6..-1]}" %>
			<%else%>
				<%= link_to article.title, "http://#{article.link}" %>
			<%end%>
			</br>
			<small>submitted <%= time_ago_in_words(article.created_at) %> ago by <%=article.user.user_handle%>
			</small>
			</div> <!-- end of style -->
		</div> <!--end of well -->
<!-- 		<div class="well">
			<%# if user_signed_in? == true %>
				<%# if current_user.id != nil && article.user_id == current_user.id %>
						<%= link_to 'Edit', edit_article_path(article) %>
						<%= link_to "Delete", article, method: :delete, data: {confirm: 'You sure?'} %>
				<%#end%>
			<%#end%>
		</div> -->
	</div> <!--end of row -->
</div> <!--end of panel -->
<%end%>




