<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
<div class="col-md-6">
	<div class="well>"

  <%= @article.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @article.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @article.score %>
</p>
	</div> <!-- end of well class -->
</div> <!-- end of col class -->

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
